.notation .toggle_normal {
  z-index: 10;
  position: absolute;
  right: 0;
}

.notation .toggle_fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}

.notation .iframe_normal {
  width: 100%;
  height: 75vh;
  min-width: 50vw;
}

.notation .iframe_fullscreen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

th {
  text-align: left;
}

.tab_card {
  height: 80px;
  background-color: #FFF9F2;
}

.tab_card a img {
  padding: 8px;
  width: 64px;
  height: 64px;
  float: right;
}

.tab_card a span {
  line-height: 64px;
  padding: 8px;
  display: inline-block;
  width: calc(100% - 96px);
  text-align: center;
}